<h3 >Hi, This is {{title}}</h3>
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>
<app-test-component></app-test-component>
<app-bank bankName="RBC" account-id="4747"> </app-bank>
<app-zippy (open)="onOpen($event)" (close)="onClose($event)">
	<p>Start editing to see some magic happen :)</p>
</app-zippy>

<iframe src="http://211.72.53.115:3000/d-solo/O9f604YGz/vmware-home-page?orgId=1&from=1611757407605&to=1611786581629&var-inter=$__auto_interval_inter&var-vcenter=All&var-ip_vmname=10.99.1.12&var-esxi=All&var-virtualmachine=Alerting&var-datastore=All&var-clustername=All&panelId=312" width="450" height="200" frameborder="0"></iframe>

<app-tri001></app-tri001>